<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/41037a9b7c.js" crossorigin="anonymous"></script>
    <title>Andrea Fossa Arquitectura</title>
</head>
<body>
    <div class="conteiner">
            <header class="menu">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link active" aria-current="page" href="../Index.html"">Inicio</a>
                                <a class="nav-link" href="./proyectos.html">Proyectos</a>
                                <a class="nav-link" href="./diseñoDeInteriores.html">Diseño de Interiores</a>
                                <a class="nav-link" href="./estudio.html">Estudio</a>
                                <a class="nav-link" href="./Contacto.html">Contacto</a>
                            </div>
                        </div>
                    </div>
                    <div class="logos">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </nav>
            </header>
        <div>
            <h1 class="estiloDos"> Nuestro Equipo </h1>
                <p>Somos un estudio especializado en diseños premium de residencias, edificios de vivienda y comerciales. Con gran experiencia en el ámbito de la construcción, lo que nos permite proyectar con una alta calidad en la resolución espacial y de cada uno de los detalles. Abordamos todas las fases de una obra de arquitectura, Proyecto – Dirección – Administración y Construcción</p>
        <hr>
            <table class="cajaFlexible">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Puesto de trabajo
                </th>
            </tr>
            <tr>
                <td>
                    Isabella
                </td>
                <td>
                    Caratini
                </td>
                <td>
                    Dibujante
                </td>
            </tr>    
            <tr>
                <td>
                    Andrea
                </td>
                <td>
                    Fossa
                </td>
                <td>
                    Directora de obra
                </td>
            </tr>  
            <tr>
                <td>
                    Violeta
                </td>
                <td>
                    Lopez
                </td>
                <td>
                    Diseñador de interiores
                </td>
            </tr>  
            </tr>
        </table>
        </div>
       <div class="footer">
        <br>
        <footer>
            <p>Powerade by Paloma</p>
        </footer>
        </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script> 
</body>
</html>